.item {
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 14px;
}

.filter-tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 14px;
}

.filter-tag .active {
    margin-left: 10px;
    cursor: pointer;
    font-size: 12px;
    color: #bc1c1c;
    background-color: #a21818;
}

.active {
    color: green;
}